<div class="biography">
  <div class="biography-header">
    <h3 class="box-title">{{localize "CWN.TabBiography"}}</h3>
  </div>
  <div class="biography-body">
    {{editor data.system.biography target="system.biography" button=true owner=owner editable=editable}}
  </div>
</div> 